body {
  font-family: 'Yantramanav', sans-serif;
}

.user-status {
    color: darkorange;
    border-style: solid;
    border-width: 1px;
    border-color: darkorange;
    padding: 2px 4px;
}

.navbar {
  margin: 0 -15px 0 -15px;
}

#login {
  margin-top: 15vh;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  background-color: rgb(214, 214, 214);
  padding: 40px 0;
  max-width: 600px;
}

#login-text {
  padding-bottom: 1em;
}

.btn {
  color: whitesmoke;
  background-color: grey;
  border-color: darkorange;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: darkorange;
  border-color: darkorange;
  outline: none;
  box-shadow: none;
}

.main-content {
  max-width: 80em;
  margin-top: 15vh;
}

.user-actions {
  display: inline;
}