body {
  font-family: Arial, Helvetica, sans-serif;
}

.user-status {
    color: darkorange;
    border-style: solid;
    border-width: 1px;
    border-color: darkorange;
    padding: 2px 4px;
}

.login-container {
  background-color: lightgrey;
  border-width: 1px;
  border-radius: 1em;
  height: 400px;
	width: 350px;
  margin-top: 10vh;
  border-style: solid;
  border-color: darkgrey;
  padding: 2em;
  box-shadow: 0 0 4px 0 darkgrey;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

#login-text {
  padding-bottom: 1em;
}

.btn {
  color: whitesmoke;
  background-color: grey;
  border-color: darkorange;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: darkorange;
  border-color: darkorange;
  outline: none;
  box-shadow: none;
}

.main-content {
  max-width: 70em;
  padding: 10vh 5vh 0 5vh;
  height: 100%;
}

#main-footer {
  height: 5vh;
}

.user-actions {
  display: inline;
}

.filter-row {
  margin: 10px 5px 10px 0px;
}

.dropdown-menu {
  border-style: none;
}

.dropdown-item:active {
  background-color: darkorange;
}

.form-control:focus {
  outline: none;
  box-shadow: inset 1px 1px 1px darkorange, 1px 1px 1px darkorange;
  border:1px solid #ccc;
}

.message {
  font-size: 1.2rem;
}
