table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

.user-status {
    color: darkorange;
    border-style: solid;
    border-width: 1px;
    border-color: darkorange;
    padding: 2px 4px;
}

.navbar {
  margin: 0 -15px 0 -15px;
}

  
.container-fluid {
  height: 25vh;
}

#login {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  background-color: rgb(214, 214, 214);
  padding: 40px 0;
  max-width: 600px;
}

#login-text {
  padding-bottom: 1em;
}

.btn {
  background-color: grey;
  border-color: darkorange;
}