<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
<head>
  {% block head %} {{ super() }} {% endblock %}
</head>
<body>
  {% block content %}
    <div class="row mb-5">
      <h2>Welcome!</h2>
    </div>
    <div class="row mb-2">
      <p class="lead">Check out the latest news on reporting portal:</p>
    </div>
      {% for content in notes %}
      <div class="message container-fluid bg-light border border-dark rounded p-4 pr-5 mb-5">
        <div class="row justify-content-between pb-5">
          <div class="col-lg-8 col-sm-10 col-10">
            <p>{{ content.message }}</p>
          </div>
          <div class="col-1 d-flex justify-content-center">
            <form action="/delete-message" method="post">
              <div class="form-group">
                <input type="hidden" name="message_id" value="{{ content.id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit" class="btn"><i class="bi bi-trash" aria-label="Delete message"></i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-1">
            <p><small>{{ content.username }}</small></p>
          </div>
          <div class="col-lg-2">
            <p><small>{{ content.created_at }}</small></p>
          </div>
        </div>
      </div>
      {% endfor %}
  {% endblock %}
</body>
</html>