 <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reporting app {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="container-fluid">
    {% if session.username %}
      <nav class="navbar navbar-expand-sm navbar-light navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Reporting app</a>
        <div class="navbar-nav">
            <a class="nav-link" href="/new">New report</a>
            {% if session.admin %}
              <a class="nav-link" href="/result">Search reports</a>
              <a class="nav-link" href="/user">Create new user</a>
              <a class="nav-link" href="/user/search">Manage users</a>
            {% endif %}
        </div>  
        <div class="navbar-nav ml-md-auto">
          <p class="user-status nav-item my-md-auto">Signed in as {{session.username}}</p>
          <a class="nav-link" href="/logout">Sign out</a>
        </div>
      </nav>
      {% block content %}{% endblock %}
    {% else %}
      <div class="row">
        <div class="col">
          <form action="/login" method="POST">
            <h1>Sign in</h1>
            <input type="text" name="username" placeholder="Insert username"><br>
            <input type="password" name="password" placeholder="Insert password"><br>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Sign in">
          </form>
        </div>
      </div>
      {% if session.no_admins %}
        <a href="/user-init">Create first admin user</a>
      {% endif %}
    {% endif %}
  </div>
</body>
</html>