<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporting app {% block title %}{% endblock %}</title>
</head>
<body>
    <h1>New user</h1>
    <form action="/user" method="POST">
        <input type="text" name="username" placeholder="Select username"><br>
        <input type="password" name="password" placeholder="Select password"><br>
        <br>
        <input type="submit" value="Create user">
    </form>
</body>
</html>