<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
<head>
  {% block head %} {{ super() }} {% endblock %}
</head>
<body>
  {% block content %}
    <div class="row justify-content-center">
      <div class="col-3">
        <h1 class="bd-title">New report</h1>
      </div>
      <div class="col-8">
        <form action="/send" method="post">
          <input type="date" name="date"><br>
          <input type="text" name="title" placeholder="Report title here"><br>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          <select name="location">
            <option value="" disabled selected>Select location</option>
            {% for location in locations %}
            <option value="{{ location.id }}">{{ location.location }}</option>
            {% endfor %}
          </select>
          <select name="report_type">
            <option value="" disabled selected>Report type</option>
            {% for type in report_types %}
            <option value="{{ type.id }}">{{ type.type }}</option>
            {% endfor %}
          </select>
          <br>
          <textarea name="description" rows="10" cols="40" placeholder="Description"></textarea>
          <br>
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
  {% endblock %}
</body>
</html>