<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporting app {% block title %}{% endblock %}</title>
    {% extends "layout.html" %}
</head>
<body>
    {% block content %}
    <form action="/send" method="post">
        <h1>New report</h1>
        <input type="text" name="title" placeholder="Report title here"><br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <select name="location">
            <option value="" disabled selected>Select location</option>
            {% for location in locations %}
            <option value="{{location.id}}">{{location.location}}</option>
            {% endfor %}
        </select>
        <br>
        <textarea name="description" rows="10" cols="40" placeholder="Description"></textarea>
        <br>
        <input type="submit" value="Send">
    </form>
    {% endblock %}
</body>
</html>