<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
<head>
  {% block head %} {{ super() }} {% endblock %}
</head>
<body>
  {% if session.no_admins %}
    <div class="col-3">
      <h1>First create admin user</h1>
    </div>
    <div class="col-8">
      <form action="/user-init" method="POST">
        <input type="text" name="username" placeholder="Select username"><br>
        <input type="password" name="password" placeholder="Select password"><br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <br>
        <input type="submit" value="Create user">
      </form>
    </div>
  {% else %}
    {% block content %}
      <div class="row">
        <div class="col-md-4 mb-4">
          <h1>New user</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <form action="/user" method="POST">
            <div class="form-group">
              <input class="form-control" type="text" name="username" placeholder="Select username">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="Select password">
              <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </div>
            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" name="admin" value="1">
              <label class="form-check-label" for="admin">Administrator</label>
            </div>
            <button type="submit" class="btn">Create user</button>
          </form>
        </div>
      </div>
    {% endblock %}
  {% endif %}
</body>
</html>